* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: hsl(204,81%,79%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

.titulo_principal {
  width: 50%;
  height: 10vh;
  background-color: hsl(204, 77%, 87%);
  text-align: center;
  padding-top: 1.5%;
  border-radius: 20px;
}


main {
  width: 70%;
  height: 60vh;
  background-color: hsl(56, 24%, 96%);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 4vh;
}


main img {
  border-radius: 50px;
}


.footer_0 {
  width: 30%;
  height: 10vh;
  background-color: hsl(204, 42%, 42%);
  color: white;
  text-align: center;
  padding-top: 1.5%;
  border-radius: 20px;
}